@model EntityOrder;

<div class="align-items-center">
    <div class="text-center text-success">
        <h4>We have successfully received your payment. Thank you!</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-form-label">
                Trasaction ID : @Html.DisplayText("TransactionId")
                Name : @Html.DisplayText("Name")
                Mobile : @Html.DisplayText("Mobile")
                Email : @Html.DisplayText("Email")
                Amount : @Html.DisplayText("Amount")
            </div>
        </div>
    </div>
</div>